header {
    display: flex;
    justify-content: space-between;
    height: 24vh;
    background-color: rgb(95, 52, 52);
    justify-content: center;
}

main {
    display: flex;
    height: 76vh;
}

#left {
    width: 50vw;
    background-color: rgb(95, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color:  rgb(95, 52, 52);
}

#header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}


#list {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

#list a {
    margin-right: 2em;
}

#conteudos {
 
    
    transition: opacity 0.5s ease-in-out;
   
}

header h2 {
    margin-top: 10vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
    font-size: 230%;
}


#conteudo1 h4{
    font-size: 30px;
}
